/* add CSS class and element and selectors here */
body {
  background-color: lightblue;
  font-size: 150%;
  font: comic;
  /*this is where i want to change colors */
}

.info-section {
  background-color: #ffffff;
}

#welcome {
  font-size: 200%;
}

div {
  border-style:dotted;
}